:root {
    --primaryColor: #DADADA;
    --secondaryColor: #C2C2C2;
    --thirdColor: #919191;
    --fourthColor: #797979;
    --fifthColor: #494949;
    --sixthColor: #303030;
    --textColor: #F2F2F2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inconsolata", Arial, sans-serif;
    color: var(--textColor);
}

/* ESTILOS DE CABECERA */
header {
    background: var(--sixthColor);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1rem;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 15px;
}

.logo a>img {
    width: 50px;
    margin-right: 10px;
}

.logo a>h2 {
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.logo a>h2:hover {
    color: var(--thirdColor);
    transition: all 0.3s ease;
    text-shadow: 0 0 10px var(--sixthColor);

}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 25px;
}

.menu-btn span:hover {
    color: var(--fourthColor);
    transform: scale(1.2);
    text-shadow: 0 0 10px var(--primaryColor);
    transition: all 0.3s ease;
}

.menu-btn span {
    color: var(--primaryColor);
    font-size: 2rem;
    transition: all 0.3s ease;
}

main {
    background: black;
    height: 100vh;
}

footer {
    background: var(--fourthColor);
}